.credit-info
  .credit-info--header 支払い方法
  .credit-info--body
    %section
      .credit-info--body--name クレジットカード一覧
      %ul
        %li.credit-info--body--content
          = form_with url: delete_card_index_path,local: true, method: :post, id: "deleteForm" do |f|
            %figure
              %input{ type: "hidden", name: "card_id", value: "" }
              = image_tag "visa.png", width: '50', height: '30', alt: @card_brand, id: "card_image"
              = f.submit "削除する", class: "dlt-btn"
            .credit-info--body--content--number
              = "**** **** **** " + @default_card_information.last4
            .credit-info--body--content--data
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
        .credit-info--body--content--detaiil
          = link_to do
            %span 支払い方法について
            = icon('fas', 'chevron-right', alt: 'chevron-right',class: 'liked-items__header__links--right__icon')