%h2 新規登録画面だよ
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  %h2 本人確認
  安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。
  %br
  他のお客さまに公開されることはありません。
  - if @sns_id.present?
    = hidden_field_tag :sns_auth, true
  - else
    .field
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "new-password"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label "ニックネーム"
    %br/
    = f.text_field :nickname
  .field
    = f.label "苗字"
    %br/
    = f.text_field :first_name
  .field
    = f.label "苗字のかな"
    %br/
    = f.text_field :first_name_kana
  .field
    = f.label "お名前"
    %br/
    = f.text_field :last_name
  .field
    = f.label "お名前のかな"
    %br/
    = f.text_field :last_name_kana
  .field
    = f.label "誕生年"
    %br/
    - this_year = Date.today.year
    = f.select :birth_year, options_for_select((1900..this_year).to_a.sort.reverse), :prompt => "--"
  .field
    = f.label "誕生月"
    %br/
    = f.select :birth_month, options_for_select((1..12).to_a), :prompt => "--"
  .field
    = f.label "誕生日"
    %br/
    = f.select :birth_day, options_for_select((1..31).to_a), :prompt => "--"
  .field
    = f.label "アバター実験"
    %br/
    = f.file_field :avatar
  .actions
    = f.submit "Next"
= render "devise/shared/links"
