.wrapper
  .profile-register
    .profile-register__heading
      = render "register-head"
      .signup-bar
        %ul.progressbar
          %li.active
            会員情報
          %li
            電話番号認証
          %li
            お届け先住所入力
          %li
            支払い方法
          %li
            完了
    .profile-register__main
      %h2.profile-register__main--head
        発送元・お届け先住所入力
      .profile-register__main--form
        = form_for "#" do |f|
          = render "devise/shared/error_messages", resource: @address
          .profile-register__main--form
            .profile-register__main--form__contents
              .profile-register__main--form__contents--form
                .profile-register__main--form__contents--form__word
                  お名前
                  %span.must 必須
                = f.text_field :first_name, class: "input-default__half", placeholder: "params[:苗字]"
                = f.text_field :last_name, class: "input-default__half", placeholder: "params[:名前]"
              .profile-register__main--form__contents--form
                .profile-register__main--form__contents--form__word
                  お名前カナ
                  %span.must 必須
                = f.text_field :first_name_kana, class: "input-default__half", placeholder: "params[:苗字]"
                = f.text_field :last_name_kana, class: "input-default__half", placeholder: "params[:名前]"
              .profile-register__main--form__contents--form
                .profile-register__main--form__contents--form__word
                  郵便番号
                  %span.must 必須
                = f.text_field :postal_code, class: "input-default", placeholder: "例) 123-4567"
              .profile-register__main--form__contents--form
                .profile-register__main--form__contents--form__word
                  都道府県
                  %span.must 必須
                  %br
                  = f.select :birth_month, options_for_select((1..12).to_a), {:prompt => "都道府県設定必要"}, {class: "select-wrap"}
-#     = f.label :postal_code
-#     %br/
-#     = f.text_field :postal_code
-#   .field
-#     = f.label :prefectures
-#     %br/
-#     = f.text_field :prefectures
-#   .field
-#     = f.label :city
-#     %br/
-#     = f.text_field :city
-#   .field
-#     = f.label :address
-#     %br/
-#     = f.text_field :address
-#   .field
-#     = f.label :building
-#     %br/
-#     = f.text_field :building
-#   .field
-#     = f.label :phone_number
-#     %br/
-#     = f.text_field :phone_number
-#   .actions
-#     = f.submit "Sign up"
-# = render "devise/shared/links"