.wrapper
  .profile-register
    .profile-register__heading
      = render "register-head"
      .signup-bar
        %ul.progressbar
          %li.active
            会員情報
          %li.active
            電話番号認証
          %li.active
            お届け先住所入力
          %li.active
            支払い方法
          %li
            完了
    .profile-register__main
      %h2.profile-register__main--head
        支払い方法
      .profile-register__main--form
        -# = form_for(pay_card_index_path, id: 'charge-form',  name: "inputForm") do |f|
        = form_with url: pay_card_index_path, name: 'inputForm', id: 'inputForm' do |f|
          .profile-register__main--form
            .profile-register__main--form__contents
              .profile-register__main--form__contents--form
                .profile-register__main--form__contents--form__word
                  %strong カード番号
                  %span.must 必須
                = f.text_field :card_number, class: "input-default", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
                %i.fab.fa-cc-visa
                %i.fab.fa-cc-mastercard
                %i.fab.fa-cc-jcb
                %i.fab.fa-cc-diners-club
                %i.fab.fa-cc-discover
              .profile-register__main--form__contents--form
                .profile-register__main--form__contents--form__word
                  %strong 有効期限
                  %span.must 必須
              .profile-register__main--form__contents--birth
                %span.form-select
                  - this_year = Date.today.year
                  = f.select :exp_year, options_for_select((this_year..2029).to_a), {:prompt => "--"}, {class: "select-wrap_half"}
                  %i.fas.fa-chevron-down
                %span.select-span 年
                %span.form-select
                  = f.select :exp_month, options_for_select((1..12).to_a), {:prompt => "--"}, {class: "select-wrap_half"}
                  %i.fas.fa-chevron-down
                %span.select-span 月
              .profile-register__main--form__contents--form
                .profile-register__main--form__contents--form__word
                  %strong セキュリティーコード
                  %span.must 必須
                  = f.text_field :cvc, class: "input-default", placeholder: "カード背面４桁もしくは３桁の番号", maxlength: "4", id: "cvc"
                .profile-register__main--form__sending--text-right
                  = link_to root_path do
                    カード裏面の番号とは？
                .profile-register__main--form__sending--base
                  #card_token
                  = f.submit "追加する", class: "default-btn", id: "token_submit", name: "submit"
    .profile-register__footer
      = render "register-footer"


