-# SNSロゴ
.sns-logo-container
  %ul.sns-logo-box
    %li
      = link_to "#", class:"btn" do
        = icon('fab', 'facebook', style:'color:#385185;',class:'fa-3x')
    %li
      = link_to "#", class:"btn" do
        = icon('fab', 'twitter', style:'color:#5d9dc9',class:'fa-3x')
    %li.hidden-item
      = link_to "#", class:"btn" do
        = icon('fab', 'line', style:'color:green',class:'fa-3x')
    %li
      = link_to "#", class:"btn" do
        = icon('fab', 'pinterest', style:'color:#aa262a',class:'fa-3x')