%ul.itembox-content
  %li.itembox-content__item
    .itembox-content__item__link
      = link_to do
        %figure.itembox-content__item__figure
          %figcaption.itembox-content__item__figure__caption 
            %h3.itembox-content__item__figure__caption__name
              商品名の入るところ
            .itembox-content__item__figure__caption__num
              .itembox-content__item__figure__caption__num__price ¥1,000
              .itembox-content__item__figure__caption__num__icon
                = icon('far', 'heart',class:"gray-heart")
                12
          .itembox-content__item__thumnail 
          = image_tag 'brand-item.jpg', alt: 'brand-item',class: 'itembox-content__item__thumnail__image' 

          %ul.itembox-content
  %li.itembox-content__item
    .itembox-content__item__link
      = link_to do
        %figure.itembox-content__item__figure
          %figcaption.itembox-content__item__figure__caption 
            %h3.itembox-content__item__figure__caption__name
              商品名の入るところ
            .itembox-content__item__figure__caption__num
              .itembox-content__item__figure__caption__num__price ¥1,000
              .itembox-content__item__figure__caption__num__icon
                = icon('far', 'heart',class:"gray-heart")
                12
          .itembox-content__item__thumnail 
          = image_tag 'brand-item.jpg', alt: 'brand-item',class: 'itembox-content__item__thumnail__image' 


          %ul.itembox-content
  %li.itembox-content__item
    .itembox-content__item__link
      = link_to do
        %figure.itembox-content__item__figure
          %figcaption.itembox-content__item__figure__caption 
            %h3.itembox-content__item__figure__caption__name
              商品名の入るところ
            .itembox-content__item__figure__caption__num
              .itembox-content__item__figure__caption__num__price ¥1,000
              .itembox-content__item__figure__caption__num__icon
                = icon('far', 'heart',class:"gray-heart")
                12
          .itembox-content__item__thumnail 
          = image_tag 'brand-item.jpg', alt: 'brand-item',class: 'itembox-content__item__thumnail__image' 