.wrapper
  = render 'items/header'
  .profile-box
    = render 'mypages/mypage-side-bar'
    .profile-edit
      %h2.profile-edit__heading プロフィール
      = form_with model: @user, local: true, class: "profile-eidt__form", id: 'profile-eidt__form' do |form|
        .profile-edit__background
          %figure.profile-edit__backgorund__figure
            %image.profile-edit__background__figure__image{:src => "https://static.mercdn.net/images/member_photo_noimage_thumb.png"}
            = form.text_field :nickname, class: "profile-edit__background__nickname-form", placeholder: "例）AYAセール中"
        .profile-edit__main
          = form.text_area :introduction, class: "profile-edit__main__introduction", placeholder: "例）こんにちは⭐︎ご覧いただきありがとうございます！かわいいものやきれいめカジュアル中心に出品しています。服のサイズは主に９号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法に質問ございましたらお気軽にご質問ください。"
          = form.submit "変更", class: "profile-edit__submit"  
  = render 'items/footer'