= render 'items/header'
- breadcrumb :search
= render "layouts/breadcrumbs_white"

.search-container
  .search
    .search-left
      = render 'search-zone'
    .search-right
      %section.items-box-container
        %h2.search-result-head
          =@search
          %span.search-result-head-text
          の検索結果
        .search-result-number
          ="1-#{@item.count}件表示"
        .items-box-content
          = render "search_item"

= render 'items/footer'
