= render 'items/header'

.search-container
  .search
    .search-left
      = render 'search-zone'
    .search-right
      %section.items-box-container
        -if @search.present?
          %h2.search-result-head
            =@search
            %span
              の検索結果
          .search-result-number
            ="1-#{@items.count}件表示"
        -else
        .items-box-content
          = render @images

= render 'items/footer'
