%header.header
  .header-wrapper
    .toppage__header
      .toppage__header-contents
        = link_to root_path do
          = image_tag 'fmarket_logo_red.svg', alt: 'freemarket-logo',
          class: 'toppage__header-contents--freemarket-logo'

      .toppage__header-search
        = form_with(url:'/searches', method: :get, skip_enforcing_utf8: true, local: true) do |f|
          = f.text_field :name, class:'header-search-form', placeholder: '何かお探しですか？'
          = button_tag type:'submit',class:'header-search-btn' do
            = icon('fas', 'search', alt: 'search-icon',class: 'toppage__header-search--search-btn')

    .toppage__footer
      %nav.toppage__footer-nav
        %ul.toppage__footer-nav-category
          %h2
            = link_to categories_path do
              = icon('fas', 'list-ul lg', alt: 'nav-icon',
              class: 'nav-icon')
              %span カテゴリーから探す
            .category-down-list
              = render partial: "categories/category"
        %ul.toppage__footer-nav-brand
          %h2
            = link_to root_path do
              = icon('fas', 'tag lg', alt: 'tag-icon',
              class: 'nav-icon')
              %span ブランドから探す
              -# burandの記述がまだなのでコメントアウト
              -# = render partial: "brand"
      .toppage__footer-contents
        .toppage__footer-contents-wrapper
          
          %ul.toppage__footer-login-contents
            %li.toppage__footer-login-content
              = link_to root_path do
                = icon('far', 'heart ', alt: 'heart-icon',
                class: 'toppage__footer-login-content--heart-icon')
                %span いいね！一覧
            %li.toppage__footer-login-content--notice
              = link_to root_path do
                = icon('far', 'bell', alt: 'bell-icon',
                class: 'toppage__footer-login-content--bell-icon')
                %span お知らせ
                .toppage__footer-login-content--notice-count
                  99+
            %li.toppage__footer-login-content--todo
              = link_to root_path do
                = icon('fas', 'check', alt: 'bell-icon',class: 'toppage__footer-login-content--check-icon')
                %span やることリスト

            %li.toppage__footer-login-content--mypage
              = link_to "/mypages/:id" do
                = image_tag 'logo_gray.svg', alt: 'mypage-logo',class: 'toppage__footer-login-content--mypage-header-user-icon'
                %span マイページ
            .toppage__footer-login-content--mypage-box
              .toppage__footer-login-content--mypage-box-content
                

