-# カテゴリーの実装を行なった際にカテゴリーやブランド別で表示できるような
-# ファイルの命名をしておりますが現在未実装なので仮でつけています
.category-items
  .category-items__item
    - @ladies.each do |item|
      .category-items__item__link
        = link_to item_path(item.id) do
          %figure.category-items__item__figure
            %figcaption.category-items__item__figure__caption 
              = item.name
            .category-items__item__thumbnail
              .category-items__item__thumbnail__price{aria: "", label: "2000"} 
                = "¥#{item.price}"
              -# image tableに値がないのでエラーになるので、金田さんがコメントアウトしてます。値ある方はコメントアウト解除してください
              -# = image_tag "#{item.images[0].src}", alt: 'category-item',class: 'category-items__item__thumbnail__image'