.category-items
  .category-items__item
    - @nike.each do |item|
      .category-items__item__link
        = link_to item_path(item.id) do
          %figure.category-items__item__figure
            .category-items__item__thumbnail
              .category-items__item__thumbnail__price{aria: "", label: ""} 
                = "¥#{item.price}"
              = image_tag "#{item.images[0].src}", alt: 'category-item',class: 'category-items__item__thumbnail__image'
              %figcaption.category-items__item__figure__caption 
                = item.name