-if user_signed_in?
  =render "header"
-else
  =render "header-unlogin"
.main
  = render "layouts/topview"
  .liked-items
    .liked-items__header
      %h3.liked-items__header__title いいね！した商品
      .liked-items__header__links
        = link_to "すべてみる", "#", class: "liked-items__header__links--left" 
        .liked-items__header__links--right
          = link_to do
            = icon('fas', 'chevron-right', alt: 'chevron-right',class: 'liked-items__header__links--right__icon')
    %ul.liked-items__sliders
      %li.liked-items__slider__item
        .liked-items__slider__item__link
          = link_to do
            %figure.liked-items__slider__item__figure
              .liked-items__slider__item__thumbnail
                %span.liked-items__slider__item__thumbnail__price ￥1000
                = image_tag 'liked-item.jpg', alt: 'liked-item',
                class: 'liked-items__slider__item__thumbnail__image'            
      %li.liked-items__slider__item
        .liked-items__slider__item__link
          = link_to do
            %figure.liked-items__slider__item__figure
              .liked-items__slider__item__thumbnail
                %span.liked-items__slider__item__thumbnail__price ￥1000
                = image_tag 'liked-item.jpg', alt: 'liked-item',
                class: 'liked-items__slider__item__thumbnail__image'            
      %li.liked-items__slider__item
        .liked-items__slider__item__link
          = link_to do
            %figure.liked-items__slider__item__figure
              .liked-items__slider__item__thumbnail
                %span.liked-items__slider__item__thumbnail__price ￥1000
                = image_tag 'liked-item.jpg', alt: 'liked-item',
                class: 'liked-items__slider__item__thumbnail__image'            
      %li.liked-items__slider__item
        .liked-items__slider__item__link
          = link_to do
            %figure.liked-items__slider__item__figure
              .liked-items__slider__item__thumbnail
                %span.liked-items__slider__item__thumbnail__price ￥1000
                = image_tag 'liked-item.jpg', alt: 'liked-item',
                class: 'liked-items__slider__item__thumbnail__image'            
      %li.liked-items__slider__item
        .liked-items__slider__item__link
          = link_to do
            %figure.liked-items__slider__item__figure
              .liked-items__slider__item__thumbnail
                %span.liked-items__slider__item__thumbnail__price ￥1000
                = image_tag 'liked-item.jpg', alt: 'liked-item',
                class: 'liked-items__slider__item__thumbnail__image'            
      %li.liked-items__slider__item
        .liked-items__slider__item__link
          = link_to do
            %figure.liked-items__slider__item__figure
              .liked-items__slider__item__thumbnail
                %span.liked-items__slider__item__thumbnail__price ￥1000
                = image_tag 'liked-item.jpg', alt: 'liked-item',
                class: 'liked-items__slider__item__thumbnail__image'            
      %li.liked-items__slider__item
        .liked-items__slider__item__link
          = link_to do
            %figure.liked-items__slider__item__figure
              .liked-items__slider__item__thumbnail
                %span.liked-items__slider__item__thumbnail__price ￥1000
                = image_tag 'liked-item.jpg', alt: 'liked-item',
                class: 'liked-items__slider__item__thumbnail__image'            
      %li.liked-items__slider__item
        .liked-items__slider__item__link
          = link_to do
            %figure.liked-items__slider__item__figure
              .liked-items__slider__item__thumbnail
                %span.liked-items__slider__item__thumbnail__price ￥1000
                = image_tag 'liked-item.jpg', alt: 'liked-item',
                class: 'liked-items__slider__item__thumbnail__image'            
      %li.liked-items__slider__item
        .liked-items__slider__item__link
          = link_to do
            %figure.liked-items__slider__item__figure
              .liked-items__slider__item__thumbnail
                %span.liked-items__slider__item__thumbnail__price ￥1000
                = image_tag 'liked-item.jpg', alt: 'liked-item',
                class: 'liked-items__slider__item__thumbnail__image'            
      %li.liked-items__slider__item
        .liked-items__slider__item__link
          = link_to do
            %figure.liked-items__slider__item__figure
              .liked-items__slider__item__thumbnail
                %span.liked-items__slider__item__thumbnail__price ￥1000
                = image_tag 'liked-item.jpg', alt: 'liked-item',
                class: 'liked-items__slider__item__thumbnail__image'            
  .popular-categories
    %h2.popular-categories__title 人気のカテゴリー
    %ul.popular-categories__list
      %li.popular-categories__list__category
        = link_to "レディース", "#category__ladies", class: "popular-categories__list__category__link" 
      %li.popular-categories__list__category
        = link_to "メンズ", "#category__mens", class: "popular-categories__list__category__link" 
      %li.popular-categories__list__category
        = link_to "家電・スマホ・カメラ", "#category__electronics", class: "popular-categories__list__category__link" 
      %li.popular-categories__list__category
        = link_to "おもちゃ・ホビー・グッズ", "##category__toys", class: "popular-categories__list__category__link" 
  .category-boxes
    .category-boxes__box
      .category-boxes__box__heading
        %h3.category-boxes__box__heading__title
          %a#category__ladies レディース新着アイテム
        .category-boxes__box__heading__links
          = link_to "もっとみる", "#", class: "category-boxes__box__heading__links--left" 
          .category-boxes__box__heading__links--right
          = link_to do
            = icon('fas', 'chevron-right', alt: 'chevron-right',class: 'category-boxes__box__heading__links--right__icon')
      = render partial: "categories/ladies"
  .category-boxes
    .category-boxes__box
      .category-boxes__box__heading
        %h3.category-boxes__box__heading__title
          %a#category__ladies メンズ新着アイテム
        .category-boxes__box__heading__links
          = link_to "もっとみる", "#", class: "category-boxes__box__heading__links--left" 
          .category-boxes__box__heading__links--right
          = link_to do
            = icon('fas', 'chevron-right', alt: 'chevron-right',class: 'category-boxes__box__heading__links--right__icon')
      = render "categories/men"

  .popular-brand
    %h2.popular-brand__title 人気のブランド
    %ul.popular-brand__list
      %li.popular-brand__list__brand
        = link_to "シャネル", "#brand__channel", class: "popular-brand__list__brand__link" 
      %li.popular-brand__list__brand
        = link_to "ルイヴィトン", "#brand__louisvuitton", class: "popular-brand__list__brand__link" 
      %li.popular-brand__list__brand
        = link_to "シュプリーム", "#brand__supreme", class: "popular-brand__list__brand__link" 
      %li.popular-brand__list__brand
        = link_to "ナイキ", "#brand__nike", class: "popular-brand__list__brand__link" 
  .brand-boxes
    .brand-boxes__box
      .brand-boxes__box__heading
        %h3.brand-boxes__box__heading__title
          %a#brand__channel シャネル新着アイテム
        .brand-boxes__box__heading__links
          = link_to "もっとみる", "#", class: "brand-boxes__box__heading__links--left" 
          .brand-boxes__box__heading__links--right
          = link_to do
            = icon('fas', 'chevron-right', alt: 'chevron-right',class: 'brand-boxes__box__heading__links--right__icon')
            
      %ul.brand-items
        %li.brand-items__item
          .brand-items__item__link
            = link_to do
              %figure.brand-items__item__figure
                %figcaption.brand-items__item__figure__caption シャネルのアイテム
                .brand-items__item__thumbnail
                  %span.brand-items__item__thumbnail__price{aria: "", label: "3000"} ￥3000
                  = image_tag 'brand-item.jpg', alt: 'brand-item',
                  class: 'brand-items__item__thumbnail__image' 
        %li.brand-items__item
          .brand-items__item__link
            = link_to do
              %figure.brand-items__item__figure
                %figcaption.brand-items__item__figure__caption シャネルのアイテム
                .brand-items__item__thumbnail
                  %span.brand-items__item__thumbnail__price{aria: "", label: "3000"} ￥3000
                  = image_tag 'brand-item.jpg', alt: 'brand-item',
                  class: 'brand-items__item__thumbnail__image' 
        %li.brand-items__item
          .brand-items__item__link
            = link_to do
              %figure.brand-items__item__figure
                %figcaption.brand-items__item__figure__caption シャネルのアイテム
                .brand-items__item__thumbnail
                  %span.brand-items__item__thumbnail__price{aria: "", label: "3000"} ￥3000
                  = image_tag 'brand-item.jpg', alt: 'brand-item',
                  class: 'brand-items__item__thumbnail__image' 
        %li.brand-items__item
          .brand-items__item__link
            = link_to do
              %figure.brand-items__item__figure
                %figcaption.brand-items__item__figure__caption シャネルのアイテム
                .brand-items__item__thumbnail
                  %span.brand-items__item__thumbnail__price{aria: "", label: "3000"} ￥3000
                  = image_tag 'brand-item.jpg', alt: 'brand-item',
                  class: 'brand-items__item__thumbnail__image' 
        %li.brand-items__item
          .brand-items__item__link
            = link_to do
              %figure.brand-items__item__figure
                %figcaption.brand-items__item__figure__caption シャネルのアイテム
                .brand-items__item__thumbnail
                  %span.brand-items__item__thumbnail__price{aria: "", label: "3000"} ￥3000
                  = image_tag 'brand-item.jpg', alt: 'brand-item',
                  class: 'brand-items__item__thumbnail__image' 
        %li.brand-items__item
          .brand-items__item__link
            = link_to do
              %figure.brand-items__item__figure
                %figcaption.brand-items__item__figure__caption シャネルのアイテム
                .brand-items__item__thumbnail
                  %span.brand-items__item__thumbnail__price{aria: "", label: "3000"} ￥3000
                  = image_tag 'brand-item.jpg', alt: 'brand-item',
                  class: 'brand-items__item__thumbnail__image' 
        %li.brand-items__item
          .brand-items__item__link
            = link_to do
              %figure.brand-items__item__figure
                %figcaption.brand-items__item__figure__caption シャネルのアイテム
                .brand-items__item__thumbnail
                  %span.brand-items__item__thumbnail__price{aria: "", label: "3000"} ￥3000
                  = image_tag 'brand-item.jpg', alt: 'brand-item',
                  class: 'brand-items__item__thumbnail__image' 
        %li.brand-items__item
          .brand-items__item__link
            = link_to do
              %figure.brand-items__item__figure
                %figcaption.brand-items__item__figure__caption シャネルのアイテム
                .brand-items__item__thumbnail
                  %span.brand-items__item__thumbnail__price{aria: "", label: "3000"} ￥3000
                  = image_tag 'brand-item.jpg', alt: 'brand-item',
                  class: 'brand-items__item__thumbnail__image' 
        %li.brand-items__item
          .brand-items__item__link
            = link_to do
              %figure.brand-items__item__figure
                %figcaption.brand-items__item__figure__caption シャネルのアイテム
                .brand-items__item__thumbnail
                  %span.brand-items__item__thumbnail__price{aria: "", label: "3000"} ￥3000
                  = image_tag 'brand-item.jpg', alt: 'brand-item',
                  class: 'brand-items__item__thumbnail__image' 
        %li.brand-items__item
          .brand-items__item__link
            = link_to do
              %figure.brand-items__item__figure
                %figcaption.brand-items__item__figure__caption シャネルのアイテム
                .brand-items__item__thumbnail
                  %span.brand-items__item__thumbnail__price{aria: "", label: "3000"} ￥3000
                  = image_tag 'brand-item.jpg', alt: 'brand-item',
                  class: 'brand-items__item__thumbnail__image' 
  .selling-item-box
    = link_to new_item_path, class: "selling-item-box__link" do
      .selling-item-box__contents
        .selling-item-box__contents__letter 出品
        = icon('fas', 'camera', alt: 'camera',class: 'selling-item-box__contents__camera')

  .contents

= render"footer"






