= render "header"
.item-detail-first-container
  = render "detail/1item-box-container"
  = render "detail/2item-detail-comment"
  = render "detail/3nav-item-link"
  = render "detail/4sns-logo-container"
  = render "detail/5other-items-in-user"
  = render "detail/6brand-tag-bottom"
= render "footer"