-if user_signed_in?
  =render "header"
-else
  =render "header-unlogin"
.item-detail-first-container
  -# アイテム詳細ボックス
  %section.item-box-container
    %h1.item-name-box 
      = @item.name
    .item-main-box
      .box-photo
        .box-photo__photo
          - @item.images.each_with_index do |image, i|
            = image_tag "#{image.src}"
        
      %table.box__detail-table
        %tbody
          %tr
            %th
              出品者
            %td
              = link_to do
                = @item.seller.nickname
              %div
                .user-ratings
                  %i.icon-good
                    = icon('fas', 'kiss-wink-heart')
                  %span
                  11
                .user-ratings
                  %i.icon-nomal
                    = icon('fas', 'meh')
                  %span
                  14
                .user-ratings
                  %i.icon-bad 
                    = icon('fas', 'dizzy')
                  %span
                  1
          %tr
            %th
              カテゴリ
            %td
              = link_to do
                = @parent.name
              = link_to do
                .sub-category
                  = icon('fas', 'chevron-right')
                  = @child.name
              = link_to do
                .sub-sub-category
                  = icon('fas', 'chevron-right')
                  = @grandchild.name
          %tr
            %th
              ブランド
            %td
              = link_to do
                コーチ
          %tr
            %th
              商品の状態
            %td
              = @item.condition
          %tr
            %th
              配送料の負担
            %td
              = @item.cover_postage
          %tr
            %th
              配送の方法
            %td
              らくらくFmart便
          %tr
            %th
              配送元地域
            %td
              = link_to do
                = @item.prefectures
          %tr
            %th
              発送日の目安
            %td
              = @item.shipping_date
    .item-price-box
      %span.item-price-box.bold
        = "¥#{@item.price}"
      %span.item-price-box.tax
        (税込)
      %span.item-price-box.fee
        送料込み
      -if @item.buyer_id.present?
        .item-sold-button
          売り切れました
      -elsif user_signed_in?
        = link_to '購入画面に進む', purchase_path(@item.id),class: 'item-buy-button '
      -else
        = link_to '購入画面に進む', new_user_session_path ,class: 'item-buy-button '
=render "layouts/show_layout/show-bottom"